################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
!/packages/arq.Common.1.3.0/*
/packages
/TimeTrackerTfs/bin/Debug
/TimeTrackerTfs/obj/Debug
/TimeTrackerUpdater
/.vs/TimeTrackerTfs/v14
/.vs/config
