################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/TimeTrackerTfs/bin/Debug
/TimeTrackerTfs/obj/Debug
/TimeTrackerUpdater
/.vs/TimeTrackerTfs/v14
